# Python Topics
- variables and datatypes
- operators
- conditionals
- loops

## variables and datatypes

- In python variables are dynamic typed. This means you don't need to declare the datatype of a variable while creating it. Python automatically assigns the datatype based on the value assigned to the variable./

In [ ]:
num = 10 # integer
# declare pi as constant
PI = 3.14 # float
name = "Alice" # string 
is_student = True # boolean # False
num = None # NoneType

In [ ]:
name = "Bob"
name = 'Charlie'
name = """David"""

In [ ]:
topic = "nature"
lines = 4
prompt = "generate a poem on this {topic} of {lines} lines." 
prompt.format(topic=topic, lines=lines) # injecting variables into string

'generate a poem on this nature of 4 lines.'

In [16]:
prompt = f"generate a poem on this {topic} of {lines} lines." # f notation tells python to evaluate the string

In [ ]:
# prompt = f"generate a poem on this based on the following quote "{quote}" of {lines} lines." this will be an error because of nested double quotes

SyntaxError: invalid syntax (223105380.py, line 1)

In [19]:
quote = "To be, or not to be, that is the question."
prompt = f'generate a poem on this based on the following quote "{quote}" of {lines} lines.' 
prompt

'generate a poem on this based on the following quote "To be, or not to be, that is the question." of 4 lines.'

In [22]:
# Escape charachter
quote = '"To be, or not to be, that is the question."'
prompt = f"generate a poem on this based on the following quote \"{quote}\" of {lines} lines."
prompt

'generate a poem on this based on the following quote ""To be, or not to be, that is the question."" of 4 lines.'

## operators and precedence
- arithmetic operators: +, -, *, /, %, //, **
- comparison operators: ==, !=, >, <, >=, <=
- logical operators: and, or, not
- assignment operators: =, +=, -=, *=, /=, %=
- bitwise operators(optional): &, |, ^, ~, <<, >>

In [23]:
a = 10
b = 3

In [24]:
a + b

13

In [25]:
a - b

7

In [26]:
a*b

30

In [27]:
a/b

3.3333333333333335

In [28]:
a//b

3

In [ ]:
# modulus or remainder operator
a%b
b%2 # to check if b is odd or even

1

In [32]:
a **b

1000

In [ ]:
a == b
a=b

False

In [34]:
a !=b

True

In [37]:
a>b

True

In [38]:
a<b

False

In [39]:
a= 9
b = 10
a>=b

False

In [42]:
# logical operators
can_drink = True
can_drive = False
can_vote = True

can_drink and can_drive

False

In [41]:
can_drink or can_drive

True

In [44]:
not can_vote

False

In [47]:
# operator precedence with three conditions
can_drink and (can_drive or can_vote)

True

In [50]:
a = 5
b = 3
c = 2

(a + b)**10 * c

2147483648

In [51]:
a = 20
b =0
a/b

ZeroDivisionError: division by zero

In [52]:
a%b

ZeroDivisionError: integer modulo by zero

In [53]:
a = 5
a = a+1
a

6

In [54]:
a = 5
a +=1
a

6

## Bitwise Operators(Optional)

In [56]:
a = 5
# binary notation of a 
a_bin = bin(a)
a_bin

'0b101'

In [60]:
a = a << 1
a_bin = bin(a)
a_bin,a

('0b1000', 8)

In [61]:
a = a >> 1
a_bin = bin(a)
a_bin,a

('0b100', 4)

## Conditional Statements

- if
- if, elseif(elif in python), else

In [68]:
age = input("Enter your age")
age

'18'

In [69]:
## typecast from string to integer
age = int(age)
age

18

In [70]:
# whether the person can drive or not
age = int(input("Enter your age"))
if age >=18:
   print("Yes")
else:
    print("No")

Yes

In [71]:
# whether the person can drive and marry or not
age = int(input("Enter your age"))
if age >=18:
   print("Can drive")
   if age >=21:
        print("Can marry")
   else:
        print("Can not marry")
else:
    print("Can not drive and can not marry")

Can drive
Can marry

In [75]:
# whether the person can drive and marry or not
age = int(input("Enter your age"))
if age >=21:
   print("Can drive and marry")
elif age >=18 and age <21:
    print("Can drive but can not marry")
else :
    print("Can not drive and can not marry")

Can drive but can not marry

## Loops

- for loop
- while loop

In [ ]:
for i in range(0,21): # end is exclusive
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [81]:
# print a table of a number
num = int(input("Enter a number"))
# num * 1, num *2 ... num *10
for mul in range(1,11):
    print(f"{num} x {mul} = {num * mul}")

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80

In [85]:
# print even number upto n
num = int(input("Enter a number"))
# num * 1, num *2 ... num *10
for i in range(0,num+1,2):
    print(f"{i}")

ValueError: invalid literal for int() with base 10: '65\\'

In [1]:
# reverse order
for num in range(10,0,-1):
    print(num)

10
9
8
7
6
5
4
3
2
1

## List

In [3]:
l = [1,2,4,5,"names",True, False]
l

[1, 2, 4, 5, 'names', True, False]

In [4]:
len(l)

7

In [5]:
name = "aditya"
len(name)

6

In [ ]:
# print each element of the list
for element in l: # l is an iterable
    print(element)

1
2
4
5
names
True
False

In [7]:
# print each characther of the string
for ch in name:
    print(ch)

a
d
i
t
y
a

In [8]:
# store the table of a number in a list
num = int(input("Enter a number"))
table = []
for mul in range(1,11):
    table.append(num * mul)
table

[6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [10]:
table[0]

6

In [11]:
table[10]

IndexError: list index out of range

### List slicing

In [12]:
table[:5]

[6, 12, 18, 24, 30]

In [13]:
table[5:]

[36, 42, 48, 54, 60]

In [14]:
table[-1]

60

In [16]:
table[-3:]

[48, 54, 60]

In [18]:
name = "Aditya Mahakali"
print(name[0]) # first characther
print(name[-1]) # last characther
print(name[:2]) # go till index 2
print(name[2:]) # from 2 to end

A
i
Ad
itya Mahakali

### ! Strings are immutable whereas lists are mutable

In [25]:
name[0] = 'B'

TypeError: 'str' object does not support item assignment

In [ ]:
name = 'B' + name[1:]
name

'Bditya Mahakali'

In [21]:
table[0] = 20

In [22]:
table

[20, 12, 18, 24, 30, 36, 42, 48, 54, 60]

In [26]:
l = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
# calculate the sum of elements in l
total = 0
for element in l:
    total += element
total

330

In [ ]:
l = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
# calculate the sum of all even index elements in l
total = 0
idx = 0
for element in l:
    print(idx)
    if idx % 2 == 0:
        total += element
    idx += 1
total

0
1
2
3
4
5
6
7
8
9

150

In [ ]:
l = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]
# calculate the sum of all even index elements in l
total = 0
for idx,element in enumerate(l):
    if idx % 2 == 0: # whether the index is even
        print(idx,element)
        total += element
    idx += 1
total

0 6
2 18
4 30
6 42
8 54

150

In [1]:
l = [6, 12, 18, 24, 30, 36, 42, 48, 54, 60]

# to get the index of an element
x = 48

for idx, element in enumerate(l):
    if element == x:
        print(f"Index of {x} is {idx}")
        break

Index of 48 is 7

In [10]:
i < len(l)

False

In [6]:
x = 300
i = 0
while i < len(l): # exit condition 
    print(i)
    if l[i] == x:
        print(f"Index of {x} is {i}")
        break
    i +=1 # very important to avoid infinite loop

0
1
2
3
4
5
6
7
8
9

In [ ]:
guess = 5

while True: # condition
    user_input = int(input("Enter your guess"))
    if user_input < guess:
        print("Too low")
    elif user_input > guess:
        print("Too high")
    else:
        print("You guessed it right!")
        break

Too high
Too high
Too low
You guessed it right!